On this part we go to clean the dataset about Fertility Rate

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r'C:\Users\Admin\Desktop\GOOGLE DATA CERTIFICATE\CAPSTONE_GOOGLE_CERT\database_europe birthrate\DATABASE\fertility rate\birth per year\children-per-woman-un.csv')
df.head(1)

        Entity Code  Year  fertility_rate__sex_all__age_all__variant_estimates
0  Afghanistan  AFG  1950                                              7.248

Rename fertility_rate__sex_all__age_all__variant_estimates column

In [3]:
df.rename(columns={'fertility_rate__sex_all__age_all__variant_estimates':'Fertility_Rate'}, inplace=True)
df.head(1)

        Entity Code  Year  Fertility_Rate
0  Afghanistan  AFG  1950           7.248

Round the Fertility Rate

In [4]:
df=df.round({'Fertility_Rate':2})
df.head(1)

        Entity Code  Year  Fertility_Rate
0  Afghanistan  AFG  1950            7.25

In [5]:
#Export to excel
output_path= r'C:\Users\Admin\Desktop\GOOGLE DATA CERTIFICATE\CAPSTONE_GOOGLE_CERT\database_europe birthrate\DATABASE\fertility rate\Fertility_Rate_Clean.xlsx'
df.to_excel(output_path,index=False)